[submodule "JointBERT"]
	path = JointBERT
	url = https://github.com/monologg/JointBERT.git
[submodule "Toxic_comment_data"]
	path = Toxic_comment_data
	url = https://github.com/songys/Toxic_comment_data.git
[submodule "korean-malicious-comments-dataset"]
	path = korean-malicious-comments-dataset
	url = https://github.com/ZIZUN/korean-malicious-comments-dataset.git
